extends layouts/layout.pug

block content

    //on hérite du modèle et de ce code pug

    //on vient définir le contenu du bloc content pour lui donner son contenu final

    h1(class="text-center") Welcome
    p(class="col-12 text-center") Bienvenue sur notre <b>site</b> internet

    div(class="row")

                include parts/produits

                include parts/services


