extends layouts/layout.pug

block content

    //on hérite du modèle et de ce code pug

    //on vient définir le contenu du bloc content pour lui donner son contenu final

    h1 Contact

    div(class="row")

        div(class="col-12")

        form(class="col-12")
            div(class="form-group mt-3")
                label Mail
                input(type="mail", class="form-control")

            div(class="form-group mt-3")
                label Message
                textarea(class="form-control ")

            div(class="form-group mt-3")
                input(type="submit", class="btn btn-primary d-md-block ", value="Envoyer")




