extends layouts/layout.pug

block content

    //on hérite du modèle et de ce code pug

    //on vient définir le contenu du bloc content pour lui donner son contenu final


    div(class="col-12")
        div
            h1 Modifier un restaurant



            form(class="col-12", action="/doUpdateRestaurant/#{restaurant._id}" method="post")
                div(class="form-group mt-3")
                    label Nom du restaurant
                    input(type="text", name="name", value=restaurant.name , class="form-control")

                div(class="form-group mt-3")
                    label Type de cuisine
                    input(type="text", name="cuisine", value=restaurant.cuisine, class="form-control")

                div(class="form-group mt-3")
                    label Localisation
                    input(type="text", name="borough", value=restaurant.borough, class="form-control")

                div(class="form-group mt-3")
                    input(type="submit", class="btn btn-primary d-md-block ", value="Ajouter")
