- var items = [{url:"/accueil", text:"Accueil"},{url:"/produits", text:"Nos produits"},{text:"Nos services",url:"/services"},{text:"Recherche",url:"/rechercher"},{text:"Restaurants",url:"/restaurants"}, {text:"+",url:"/add_restaurant"},{url:"/contact", text:"Contact"}];

nav(class="navbar navbar-expand navbar-light bg-light justify-content-center")
    ul(class="navbar-nav")
        each item in items
            li(class="nav-item")
                a(class=((path === item.url || (path === "" && item.url === "/accueil")) ? "nav-link active" : "nav-link"), href=item.url)= item.text